{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel = "stylesheet" href = "{% static 'css/quiz.css' %}">
	<title>Home</title>
</head>
<body>
	
	<div id = "container">
		<a class = "button" href = "/login"> Go to Quiz </a>
		<img src = "{% static 'img/images12.png' %}" style = "width: 98%;border: 8px solid #141414;">
		<h2 style = "text-align: right; margin-right: 100px;"><u>Designed and Developed by Ganza</a></h1></h2>
	</div>
</body>
</html>